-- Eliminar base de datos si existe
IF EXISTS (SELECT * FROM sys.databases WHERE name = 'ventas_fake')
BEGIN
    ALTER DATABASE ventas_fake SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE ventas_fake;
END
GO

-- Crear la base de datos
CREATE DATABASE ventas_fake;
GO

USE ventas_fake;
GO

-- Tabla Clientes
IF OBJECT_ID('Clientes') IS NOT NULL DROP TABLE Clientes;
CREATE TABLE Clientes (
    ClienteID INT PRIMARY KEY IDENTITY(1,1),
    CodCli NVARCHAR(20) NOT NULL,
    Nombre NVARCHAR(100) NOT NULL,
);
GO

-- Tabla Productos
IF OBJECT_ID('Productos') IS NOT NULL DROP TABLE Productos;
CREATE TABLE Productos (
    ProductoID INT PRIMARY KEY IDENTITY(1,1),
    CodProd NVARCHAR(20) NOT NULL,
    Nombre NVARCHAR(100) NOT NULL,
    Precio DECIMAL(10, 2) NOT NULL
);
GO

-- Tabla Ventas
IF OBJECT_ID('Ventas') IS NOT NULL DROP TABLE Ventas;
CREATE TABLE Ventas (
    VentaID INT PRIMARY KEY IDENTITY(1,1),
    Folio INT NOT NULL,
    ClienteID INT NOT NULL,
    Fecha DATETIME NOT NULL,
    Total DECIMAL(10, 2) NOT NULL,
    FOREIGN KEY (ClienteID) REFERENCES Clientes(ClienteID)
);
GO

-- Tabla VentasDetalle
IF OBJECT_ID('VentasDetalle') IS NOT NULL DROP TABLE VentasDetalle;
CREATE TABLE VentasDetalle (
    DetalleID INT PRIMARY KEY IDENTITY(1,1),
    VentaID INT NOT NULL,
    ProductoID INT NOT NULL,
    Cantidad INT NOT NULL,
    PrecioUnitario DECIMAL(10, 2) NOT NULL,
    Subtotal DECIMAL(10, 2) NOT NULL,
    FOREIGN KEY (VentaID) REFERENCES Ventas(VentaID),
    FOREIGN KEY (ProductoID) REFERENCES Productos(ProductoID)
);
GO
